@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300&family=Poppins&family=Roboto+Condensed:ital@1&family=Saira+Stencil+One&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    user-select: none;
}
/* header section */
#header{
    z-index: 1;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logoname{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 130px;
}
.minueIcon{
    width: 30px;
    height:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
}
.minueIcon div{
    width: 100%;
    height: 4px;
    background-color: rgba(75, 81, 102, 1);
    border-radius:20px;
}
.homeButton{
    height: 100%;
    width: 10%;
    text-align: center;
    line-height: 50px;
    border-radius: 50px 0 0 50px;
    background-color: rgb(98, 105, 129);
    cursor: pointer;
    transition: width .5s;
}
.homeButton:hover{
    width: 20%;
}
.homeButton a{
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/* End of header section */

/* Home section */
#home{
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(75, 81, 102, 1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.left{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left .Logo{
    width: 600px;
    height:600px;
    background-color: white;
    border-radius: 50%;
    background-image: url(images/Logo.jpg);
    background-size:cover;
    background-position-y: 39%;
    background-repeat: no-repeat;
    
}
.right{
    width: 50%;
    height: 90%;
}
.right .text{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
    line-height: 100px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.right .text h1{
    display:block;
    width: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal 1s ease forwards 1.5s;

    font-size: 3.5rem;
}
.right .text h1 span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(215 211 207);
    width: 0%;
    height: 100%;
    animation: text_reveal_box 1s ease 1s;
}
.right .text h4{
    display:block;
    width: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal 1.5s ease forwards 1.5s;
    font-size: 1.6rem;
    font-weight: 100;
}
.right .text h4:nth-child(2){
    animation-delay: 2.5s;
}
.right .text h4:nth-child(3){
    animation-delay: 3.5s;
}
.right .text h4 span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(215 211 207);
    width: 0%;
    height: 100%;
    animation: text_reveal_box 1s ease 1s;
}

.right .text h4:nth-child(2) span{
    animation-delay: 2s
}
.right .text h4:nth-child(3) span{
    animation-delay: 3s;
}
    
#mouse{
    max-width: 50px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
/* End of Home section */

/* skills section */
#skills{
    position: sticky;
    width: 100%;
    text-align: center;
}
#skills h1{
    margin: 50px auto;
    text-decoration: 4px underline rgba(75, 81, 102, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    letter-spacing: 10px;
}
#skills h1 span{
    color: rgba(75, 81, 102, 1);
}
#skills .container{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#skills .container .skill{
    width: 450px;
    height:400px;
    margin: 50px;
    cursor:pointer;
    transition: transform .5s;
}
#skills .container .skill:hover{
    transform: scale(1.1);
}
#skills .container .skill:nth-child(1){
    background-image: url(images/html.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#skills .container .skill:nth-child(2){
    background-image: url(images/css.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
#skills .container .skill:nth-child(3){
    background-image: url(images/javascript.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#skills .container .skill:nth-child(4){
    background-image: url(images/kotlin.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#skills .container .skill:nth-child(5){
    background-image: url(images/figma.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#skills .container .skill:nth-child(6){
    background-image: url(images/algo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* End of skills section */


/* key frames */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0%;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: white;
    }
}
@keyframes text_reveal_name {
    100% {
        color: crimson;
        font-weight: 500;
    }
}

/* End of key frames */
/* qurey section */
@media (max-width:1250px){
    #home .left .Logo{
        max-width: 400px;
        max-height:400px;
    }
    #home .right .text{
        line-height: 60px;
    }
    #home .right .text h1{
        font-size: 3rem;
    }
    #home .right .text h4{
        font-size: 1.5rem;
    }

    /* skills */
    #skills .container{
        width: 100%;
    }
    #skills .container .skill{
        margin: 10px;
        width: 350px;
    }
    /* End of skills */
}
@media screen and (max-width:650px){
    #home{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #home .left .Logo{
        min-width: 400px;
        min-height:400px;
        margin-top: 100px;
    }
    #home .right .text{
        margin-top: 50px;
        justify-content: start;
        align-items: center;
        width: 100%;
    }
    #home .right{
        width: 100%;
    }
    #header .homeButton{
        width: 25%;
    }
    #header .homeButton:hover{
        width: 30%;
    }
    #skills .container .skill{
        width: 71%;
    }
}
/* End of qurey section */